* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    background-color: #f0f2f5;
    display: flex;
    line-height: 1.34;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

}

.logo>p {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;

}

.logo img {
    height: 106px;
    margin-left: -28px;
}

.left {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
}

.right {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
}

.right .container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 348px;
    width: 396px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

}

.container .inputbox {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    opacity: 0.6;
    margin-top: -60px;
    padding: 26px;
}

.container .inputbox>input{
    padding: 22px 12px;
    margin: 10px;

}

.container button.login {
    background-color: #1877f2;
    color: white;
    width: 354px;
    height: 51px;
    /* line-height: 48px; */
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    
    
}

.container button.login:hover{
    cursor: pointer;
    background-color:  #0f66d7;
}

.container button.create{
    background-color: #42b72a;
    border-color: #36a420;
    color: white;
    width: 354px;
    height: 51px;
    /* line-height: 48px; */
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -18px;
}

.container button.create:hover{
    cursor: pointer;
    background-color: #3a9827;
}

.container a{
    color: #3488f3;
    margin: 8px;
    text-decoration: none;
    
}

.container2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
}
